baseURL: "https://blog.koehntopp.info"
languageCode: "en-us"
theme: "hugo-bootstrap-bare"
title: "Die wunderbare Welt von Isotopp"

params:
  description: "Kris Köhntopp's blog (Fedi: @isotopp@chaos.social)"
  feature-img: "assets/img/background/rijksmuseum.jpg"
  editPost:
    URL: "https://github.com/isotopp/isotopp.github.io/edit/main/content"
    appendFilePath: True
    Text: "Suggest Changes"
  author:
    isotopp:
      name: "Kristian Köhntopp"
      avatar: "isotopp.jpg"
      fedi: "@isotopp@infosec.exchange"
      fediurl: "https://infosec.exchange/@isotopp"
      email: "kris-blog@koehntopp.de"

frontmatter:
  date: [":filename", ":default"]

pagination.pagerSize: 20
pagination.path: blog
enableEmoji: true
permalinks:
  posts: /:year/:month/:day/:slug/

UglyURLS: true

outputs:
  home:
    - HTML
    - RSS
    - JSON

outputFormats:
  RSS:
    mediatype: "application/rss"
    basename: "feed"

rssLimit: 20

menu:
  main:
    - identifier: about
      name: "About"
      url: "/about/"
      weight: 1
    - identifier: contribute
      name: "Contribute"
      url: "/contribute/"
      weight: 2
    - identifier: search
      pre: "<svg class='bi' height='1.5rem' width='1.5rem' fill='currentColor'><use xlink:href='/bootstrap-icons.svg#search'/></svg>"
      url: "/search/"
      weight: 3
    - identifier: tags
      pre: "<svg class='bi' width='1.5rem' height='1.5rem' fill='currentColor'><use xlink:href='/bootstrap-icons.svg#tags-fill'/></svg>"
      name: ""
      url: "/tags/"
      weight: 0


taxonomies:
  tag: tags

markup:
  tableofContents:
    endLevel: 4
    ordered: false
    startLevel: 1
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: true
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute: true
      autoHeadingID: true
      autoHeadingIDType: github
    renderer:
      hardWraps: false
      unsafe: true
      xhtml: false
  highlight:
    codeFences: true
    noClasses: false
    style: pygment
    #style: nord
    #style: monokai
