/* Override any bootstrap variables here before importing bootstrap itself */

/* Import bootstrap's sass */
@import 'bootstrap';

/* Custom SASS imports */

html { font-size: 1.2rem; }

header {
  display: grid;
  grid-template-areas: "hero";
  height: 18vh;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
  place-content: center;
}

header > * {
  grid-area: hero;
}

header img {
  max-height: 50vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

header h1 {
  text-shadow: 1px 1px 1px black;
}
