/* Override any bootstrap variables here before importing bootstrap itself */

/* Matches color from old type-on-strap jekyll theme */
$primary: #337ab7;

$font-family-sans-serif: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

@for $i from 1 through 6 {
  h#{$i} a {
    color: black;
    text-decoration: none;
  }
}

/* Import bootstrap's sass */
@import 'bootstrap';

/* Custom SASS imports */
@import 'syntax';
@import 'fonts';

/* this controls the table formatting */

table > tbody > tr:nth-child(even) {
  background: #eeeeee
}

table > tbody > tr:nth-child(odd) {
  background: #ffffff
}

table > thead {
  background: #cccccc;
}

th {
  border-color: black;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

td {
  border-color: black;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

body {
  font-size: 1.25rem;
}

/* Note: if you try to add a `height` value here
  don't forget to match the `max-height`
  of the `header img` below */
header {
  display: grid;
  grid-template-areas: "hero";
  align-items: start;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 0 !important;
}

img {
  max-width: 100%;
  padding: 0 9%;
}

header > * {
  grid-area: hero;
}

header img {
  object-fit: cover;
  object-position: center;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 0;
}

/* This controls the height of the title hero banner */
.headerbanner {
  max-height: 25vh;
}

header h1 {
  text-shadow: 2px 2px 2px black;
}

header .col {
  margin-top: 1em;
  z-index: 1; // ensures it's above the image
  justify-self: center; // horizontally center the text
  text-align: center;
}

/* pre/code styling */
div pre {
  padding: 1em;
  line-height: 1.8rem;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.pagination {
  justify-content: center;
}

blockquote {
  border-left: 2px solid #3d80bb;
  margin: 1em 1em;
  padding: 0.75em 1em;
  background-color: #f5f5f5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.letter-spacing-01 {
  letter-spacing: 0.1rem;
}

.toc {
  background-color: #f5f5f5;
  //border: 1px solid #ddd;
  //border-radius: 5px;
}

.reveal {
  margin-bottom: 1em;

  summary {
    cursor: pointer;
    //font-weight: bold;
    color: #3d80bb;
    padding: 0.5em;
    background-color: #f5f5f5;
    //border: 1px solid #ddd;
    //border-radius: 5px;
  }

  div {
    //margin-left: 20px;
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: #fafafa;
    //border: 1px solid #ddd;
    //border-radius: 5px;
  }

  summary:hover {
    background-color: #e0e0e0; /* Hover effect for summary */
  }
}

.post-list-summary .md__image img {
  max-height: 250px;
  width: auto;
  object-fit: contain;
}
