{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="page">
  <article class="{{ .Title | urlize }}-page">
    <div class='row justify-content-center text-center my-4'>
      <header>
        <div class='col'>
          <h1 class="title mb-lg-4 text-white">
            {{ .Title | markdownify }}
          </h1>
          <div class='text-uppercase text-light' style='letter-spacing: 0.1rem;'>

            {{- with .Site.Author }}
              <img src='/assets/img/kris.jpg' class='me-1' style='width: 1.9rem; border-radius: 1rem;'>
              <a href="https://twitter.com/{{ .twitter }}" class='text-light text-decoration-none'>
                {{ .name }}
              </a>
            {{end}}

            {{ with .Date }}
              <span class='d-none d-lg-inline'>-</span> 
              <div class='d-block d-lg-inline'>{{ .Format "January 2, 2006" }}</div>
            {{ end }}

          </div>
        </div>
        <img src='https://blog.koehntopp.info/assets/img/background/rijksmuseum.jpg'>
      </header>
    </div>

    <div class='row justify-content-center'>
      <div class='col-lg-8'>
        {{ .Content }}
      </div>
    </div>

	{{ if .IsTranslated }}
	<h4>{{ i18n "translations" }}</h4>
	<ul>
            {{ range .Translations }}
            <li><a href="{{ .Permalink }}">
		{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
            </a></li>
            {{ end }}
	</ul>
	{{ end }}
    </article>
</div>

{{ end }}
