{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
{{ $author := (index .Site.Author (string (.Param "author"))) }}
{{ $twitter := $author.twitter }}
{{ $name := $author.name }}
<div class="page">
	<article class="{{ .Title | urlize }}-page">
		<div class='row  justify-content-center text-center my-4 mx-0'>
			<header>
				<div class='col'>
					<h1 class="title mb-lg-4 text-white">
						{{ .Title | markdownify }}
					</h1>
					<div class='text-uppercase text-light' style='letter-spacing: 0.1rem;'>
						<img alt='{{ $twitter }} image' src='/assets/img/avatars/{{ $twitter }}.jpg' class='me-1 p-0'
							 style='width: 1.9rem; border-radius: 1rem;'>
						<a href="https://chaos.social/@{{ $twitter }}" class='text-light text-decoration-none'>
							{{ $name }}
						</a>

						{{ with .Date }}
						<span class='d-none d-lg-inline'>-</span>
						<div class='d-block d-lg-inline'>{{ .Format "January 2, 2006" }}</div>
						{{ end }}

					</div>
				</div>
				{{ with $.Param "feature-img" }}
				<img alt='a featured image' src="/{{ . }}">
				{{ end }}
			</header>
		</div>

		<div class='row justify-content-center mx-0'>
			<div class='col-lg-4 text-center text-lg-start'>
				{{ with .PrevInSection }}
				<div>
					<div class='letter-spacing-01 text-uppercase text-secondary'>
						Previous Post
					</div>
					<a class='text-decoration-none' href="{{ .Permalink }}">{{ .Title }}</a>
				</div>
				{{ end }}
			</div>

			<div class='col-lg-4 text-lg-end mt-5 mt-lg-0 text-center'>
				{{ with .NextInSection }}
				<div>
					<div class='letter-spacing-01 text-uppercase text-secondary'>
						Next Post
					</div>
					<a class='text-decoration-none' href="{{ .Permalink }}">{{ .Title }}</a>
				</div>
				{{ end }}
			</div>
		</div>

		<div class='row justify-content-center mx-0 mt-3 mb-5'>
			<div class="col-lg-8 mb-3">
				{{ if (.Params.toc) }}
				<header class="bg-light">
					{{ .TableOfContents }}
				</header>
				{{ end }}
			</div>
			<div class='col-lg-8'>
				{{ .Content }}
			</div>
		</div>

		{{/* Sharing links */}}
		{{/* ============= */}}
		<div class='row justify-content-center mb-3 mx-0'>
			<div class='col-lg-8 text-center'>
				<span class='letter-spacing-01 text-uppercase text-secondary me-2'>Share</span>
				<a href='https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}' target='_blank'
				   class='text-decoration-none'>
					<svg class='bi' height='2.5rem' width='2.5rem' fill='currentColor'>
						<use xlink:href='/bootstrap-icons.svg#facebook'/>
					</svg>
				</a>
				<!--        <a href='https://twitter.com/intent/tweet?source={{ .Permalink }}&text={{ .Title }}%20%7C%20Die+wunderbare+Welt+von+Isotopp:%20{{ .Permalink }}' target='_blank' class='text-decoration-none'>
						  <svg class='bi' height='2.5rem' width='2.5rem' fill='currentColor'><use xlink:href='/bootstrap-icons.svg#twitter'/></svg>
						</a>
				-->
				<a href='http://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}' target='_blank'
				   class='text-decoration-none'>
					<svg class='bi' height='2.5rem' width='2.5rem' fill='currentColor'>
						<use xlink:href='/bootstrap-icons.svg#reddit'/>
					</svg>
				</a>
				<a href='mailto:?subject={{ .Title }}&body={{ .Permalink }}' target='_blank'
				   class='text-decoration-none'>
					<svg class='bi' height='2.5rem' width='2.5rem' fill='currentColor'>
						<use xlink:href='/bootstrap-icons.svg#envelope-fill'/>
					</svg>
				</a>
			</div>
		</div>

		{{/* Tag list for post */}}
		{{/* ================= */}}
		<div class='row justify-content-center py-3 mb-3 mx-0'>
			<div class='col-lg-8 text-center'>
				<span class='letter-spacing-01 text-uppercase text-secondary me-2'>Tags</span>
				{{ range .Params.tags }}
				<a href="{{ "tags/#" | relLangURL }}{{ . | urlize }}" class='btn btn-sm btn-outline-primary mb-1'>
				<svg class="bi" width="1rem" height="1rem" fill="currentColor">
					<use xlink:href="/bootstrap-icons.svg#tag-fill"></use>
				</svg>
				{{ . }}
				</a>
				{{ end }}
			</div>
		</div>

		{{/* Option to edit the post */}}
		{{/* ======================= */}}
		{{ if or .Params.editPost.URL .Site.Params.editPost.URL }}
		{{ $fileUrlPath := path.Join .File.Path }}
		<div class='row justify-content-center py-3 mb-3 mx-0'>
			<div class='col-lg-8 text-center'>
				<a href="{{ .Params.editPost.URL | default .Site.Params.editPost.URL }}{{ if .Params.editPost.appendFilePath | default ( .Site.Params.editPost.appendFilePath | default false ) }}/{{ $fileUrlPath }}{{ end }}"
				   rel="noopener noreferrer" target="_blank">
					<span class='letter-spacing-01 text-uppercase text-secondary me-2'>{{- .Params.editPost.Text | default (.Site.Params.editPost.Text | default (i18n "edit_post" | default "Edit")) -}}</span>
				</a>
			</div>
		</div>
		{{ end }}

		<div class='row justify-content-center mx-0'>
			<div class='col-lg-4 text-center text-lg-start'>
				{{ with .PrevInSection }}
				<div>
					<div class='letter-spacing-01 text-uppercase text-secondary'>
						Previous Post
					</div>
					<a class='text-decoration-none' href="{{ .Permalink }}">{{ .Title }}</a>
				</div>
				{{ end }}
			</div>

			<div class='col-lg-4 text-lg-end mt-5 mt-lg-0 text-center'>
				{{ with .NextInSection }}
				<div>
					<div class='letter-spacing-01 text-uppercase text-secondary'>
						Next Post
					</div>
					<a class='text-decoration-none' href="{{ .Permalink }}">{{ .Title }}</a>
				</div>
				{{ end }}
			</div>
		</div>


		{{/*
		{{ if .IsTranslated }}
		<h4>{{ i18n "translations" }}</h4>
		<ul>
			{{ range .Translations }}
			<li><a href="{{ .Permalink }}">
				{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
			</a></li>
			{{ end }}
		</ul>
		{{ end }}
		*/}}
	</article>
</div>

{{ end }}
