{{ define "main" }}


<section>
  <div class='row justify-content-center text-center'>
    <div class='col-lg-8'>
      <h1 id="{{ .Title | urlize }}">{{ .Title }}</h1>
    </div>
  </div>
</section>

<section class='mb-4'>
  <div class='row justify-content-center'>
    <div class='col-lg-8'>
      {{/*
      {{ range .Site.Taxonomies.tags }}
        <span class='border me-2 mb-3 p-1'>
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> 
        </span>
      {{ end }}
      */}}

      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        {{ if eq "tags" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            <span class='me-3'>
              <a href="#{{ $key }}">{{ $key }}</a> 
            </span>
          {{ end }}
        {{ end }}
      {{ end }}

    </div>
  </div>
</section>


<section>
  <div class='row justify-content-center'>
    <div class='col-lg-8'>
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      {{ if eq "tags" $taxonomyname }}
        {{ range $key, $value := $taxonomy }}
          <a href="#tags" style='float: right'>⌃</a>
          <h3 id="{{ $key }}"><a href="#{{ $key }}">{{ $key }}</a></h3>
          <ul>
            {{ range $value.Pages }}
              <li class='d-block'>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <span class='' style='float: right'>{{ .Date.Format "January 2, 2006" }}</span>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    {{ end }}
    </div>
  </div>
</section>

{{ end }}
