<!-- Optional JavaScript -->

{{/*<!-- NOTE: Vendor Scripts -->*/}}
{{ $bootstrap := resources.Get "/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" }}

{{ $javascript := slice $bootstrap | resources.Concat "/js/bootstrap.js" }}
<script src="{{ $javascript.Permalink }}"></script>

{{ $lunr := resources.Get "/node_modules/lunr/lunr.js" }}

{{ $javascript := slice $lunr | resources.Concat "/js/lunr.js" }}
<script src="{{ $javascript.Permalink }}"></script>

{{ $mermaid := resources.Get "/node_modules/mermaid/dist/mermaid.min.js" }}

{{ $javascript := slice $mermaid | resources.Concat "/js/mermaid.js" }}
<script src="{{ $javascript.Permalink }}"></script>

{{ $katex := resources.Get "/node_modules/katex/dist/katex.min.js" }}
{{ $katexAutoRender := resources.Get "/node_modules/katex/dist/contrib/auto-render.min.js" }}

{{ $javascript := slice $katex $katexAutoRender | resources.Concat "/js/katex.js" }}
<script src="{{ $javascript.Permalink }}"></script>

{{/*<!-- NOTE: User Scripts -->*/}}
{{ $app := resources.Get "/js/app.js" | resources.ExecuteAsTemplate "/js/app.js" . }}

{{ $javascript := slice $app | resources.Concat "/js/app.js" }}
<script src="{{ $javascript.Permalink }}"></script>
