<nav class="navbar navbar-expand-lg navbar-light px-lg-4 pt-lg-4">
    <div class="container-fluid">
        <a class="navbar-brand justify-content-center" href="{{ .Site.BaseURL}}" rel="home" title="{{ .Site.Title }}">
            <img alt="Kris" height='48' width='48' src='/assets/img/kris.jpg' class='p-0 me-3 d-block d-lg-inline'>
            <span class='h4 d-block d-lg-inline'>{{ .Site.Title | safeHTML }}</span>
        </a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                {{ $currentURL := .Page.URL }}
                {{ range .Site.Menus.main }}
                {{- $lastUrlElement1 := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 -}}
                {{- $lastUrlElement2 := index (last 1 (split (delimit (split $currentURL "/") "," "") ",")) 0 -}}
                <li class="nav-item {{ if eq $lastUrlElement1 $lastUrlElement2 }}active{{ end }}">
                    <a class="nav-link" href="{{.URL |relURL }}">
                        <span class="{{ if eq $lastUrlElement1 $lastUrlElement2 }}text-danger{{ end }}">{{ .Pre }}{{ .Name | safeHTML }}</span>
                        {{ if eq $lastUrlElement1 $lastUrlElement2 }}<span class="visually-hidden">(current)</span>{{ end }}
                    </a>
                </li>
                {{ end }}
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ i18n "search" }}</button>
            </form> -->
        </div>

    </div>
</nav>
